div{
    display: inline-block;
    vertical-align: top;        
}
.combinacion>div{
    border-style:solid;
    border-radius: 200px;
    border-color: grey;
    width: 80px;
    height: 80px;
    display: inline-block;
    margin-right: 30px;
}
.valor1{    background-color: blue;}
.valor2{     background-color: white;}
.valor3{     background-color: black;}
.valor4{     background-color: yellow;}
.combinacion>.igual{
    border-color: green;
}
.combinacion>.diferent{
    border-color: red;
}
