<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <link href="practica01.css" rel="stylesheet" type="text/css"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="angular.min.js" type="text/javascript"></script>        <script> var app = angular.module('myApp', []);</script>
        <script src="controlador.js" type="text/javascript"></script>
    </head>
    <body ng-app="myApp" ng-controller="controlador">
        <article id="exercici01" ng-if="crearCombinacion"> 
            <h1>CREA LA COMBINACION</h1>
            <div class="combinacion"> 
                <div class="valor{{opcio1}}" ng-click="clicaOpcio()" ></div>
                <div class="valor{{opcio2}}" ng-click="clicaOpcio2()"></div>
                <div class="valor{{opcio3}}" ng-click="clicaOpcio3()"></div>
                <button ng-click="aceptaCombinacion();">ACEPTA</button>
            </div>
        </article>
        <article ng-if="validaCombinacion">
            <h1>
                Valida Combinacion
            </h1>
            <div class="combinacion"> 
                <div class="valor{{opcio1}}" ng-click="clicaOpcio()" ></div>
                <div class="valor{{opcio2}}" ng-click="clicaOpcio2()"></div>
                <div class="valor{{opcio3}}" ng-click="clicaOpcio3()"></div>
                <button ng-click="validarCombinacion()">VALIDAR</button>
            </div>
        </article>
        <article>
        <h1>Combinaciones</h1>
        <section ng-repeat="combinacion in combinaciones track by $index">
            <div class="combinacion">
                <div class="valor{{combinacion[0][0]}} {{combinacion[0][1]}}"></div>
                <div class="valor{{combinacion[1][0]}} {{combinacion[1][1]}}"></div>
                <div class="valor{{combinacion[2][0]}} {{combinacion[2][1]}}"></div>
            </div>
        </section>
        </article>
    </body>
</html>
