<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="angular.min.js" type="text/javascript"></script>
        <script src="controlador.js" type="text/javascript"></script>
    </head>
    <body ng-app="myApp" ng-controller="controlador">
        Al modificar el input, es modifica la variable asociada en el model:
        <b style="color:{{myCol}}"> {{myCol}}</b>
        <br />
        <input style="background-color:{{yCol}}"   
               ng-model="myCol" 
               value="{{myCol}}" />
        <input ng-model="num" value="{{num}}"/>
        <span ng-click="suma();">Calcula Suma</span>
        <br />
        <style>.positiu{color:green;} .negatiu{color:red;}</style>
        <div class="{{tipusValor}}">Resultat {{(suma())}}</div>
        <div ng-repeat="valor in misValores">Hei</div>
    </body>
</html>
