<!DOCTYPE html>
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <link href="practica01.css" rel="stylesheet" type="text/css"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="angular.min.js" type="text/javascript"></script>   
        <script> var app = angular.module('myApp', []);</script>    
        <script src="controlador.js" type="text/javascript"></script>

        <script src="PeliculasService.js" type="text/javascript"></script>
    </head>
    <body ng-app="myApp">
        <div ng-controller="MuestraPeliculas">
            Ejercicio - 1:<table>
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Nacimineto</th>
                    <th>Nacionalidad</th>

                </tr>
                <tr ng-repeat="actor in actoresControler track by $index">
                    <td>{{actor[0]}}</td>
                    <td>{{actor[1]}}</td>
                    <td>{{actor[2]}}</td>
                    <td>{{actor[3]}}</td>

                </tr>
            </table>
            </br>
            Ejercicio - 2:
            </br>
            <div>
                <select ng-model="numPeli">
                    <option ng-repeat="peli in peliculasControler track by $index"
                            value="{{$index}}">
                        {{peli[1]}}
                    </option>
                </select>
                </br>
                Nombre:{{peliculasControler[numPeli][1]}} 
                </br>
                Director:{{peliculasControler[numPeli][2]}}
                </br>
                Año:{{peliculasControler[numPeli][3]}}
                <table>
                    <tr>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Nacimineto</th>
                        <th>Nacionalidad</th>
                    </tr>
                    <tr ng-repeat="actor in peliculasControler[numPeli][0] track by $index">
                        <td>{{actor[0]}}</td>
                        <td>{{actor[1]}}</td>
                        <td>{{actor[2]}}</td>
                        <td>{{actor[3]}}</td> 
                    </tr>

                </table>
            </div>
            </br>
            Ejercicio - 3:
            </br>
        </div>
    </body>

</html>
